<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  >
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>HKC Shop</title>
  <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>

<section class="sec_categories mb-5">

  <div class="container product_section_container">
    <div class="row">
      <div class="col product_section clearfix">

        <!-- Breadcrumbs -->

        <div class="breadcrumbs d-flex flex-row align-items-center">
          <ul>
            <li><a href="">Trang Chủ</a></li>
            <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Sản Phẩm</a></li>
          </ul>
        </div>


        <div class="sidebar">
          <div class="sidebar_section" th:each="category : ${category}">
            <div class="sidebar_title">
              <h5>Sản Phẩm</h5>
            </div>
            <div th:if="${category>0}">
              <ul class="sidebar_categories" >

                <li  th:class="${category}==1?'active':''">
                  <a href="/shop/category/1">
                    <span th:if="${category}==1"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>Điện thoại
                  </a>
                </li>
                <li th:class="${category}==2?'active':''">
                  <a href="/shop/category/2">
                    <span th:if="${category}==2"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>Máy Tính Bảng
                  </a>
                </li>
                <li th:class="${category}==3?'active':''">
                  <a href="/shop/category/3">
                    <span th:if="${category}==3"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>  Phụ Kiện
                  </a>
                </li>

              </ul>
            </div>
            <diV th:if="${category==0}">
              <ul class="sidebar_categories" >

                <li>
                  <a href="/shop/category/1">
                    Điện thoại
                  </a>
                </li>
                <li>
                  <a href="/shop/category/2">
                    Máy Tính Bảng
                  </a>
                </li>
                <li>
                  <a href="/shop/category/3">
                    Phụ Kiện
                  </a>
                </li>

              </ul>
            </diV>
          </div>
          <div>

            <!-- Price Range Filtering -->
            <div class="sidebar_section">

            </div>
            <!--                        <div class="sidebar_section">-->
            <!--                            <div class="sidebar_title">-->
            <!--                                <h5>Dung lượng</h5>-->
            <!--                            </div>-->
            <!--                            <ul class="checkboxes">-->
            <!--                                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>16GB</span></li>-->
            <!--                                <li class="active"><i class="fa fa-square" aria-hidden="true"></i><span>32GB</span></li>-->
            <!--                                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>64GB</span></li>-->
            <!--                                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>128GB</span></li>-->
            <!--                                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>256GB</span></li>-->
            <!--                                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>512GB</span></li>-->
            <!--                            </ul>-->
            <!--                        </div>-->
            <!--                        <div class="sidebar_section">-->
            <!--                            <div class="sidebar_title">-->
            <!--                                <h5>Màu sắc</h5>-->
            <!--                            </div>-->
            <!--                            <ul class="checkboxes">-->
            <!--                                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Đen</span></li>-->
            <!--                                <li class="active"><i class="fa fa-square" aria-hidden="true"></i><span>Hồng</span></li>-->
            <!--                                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Trắng</span></li>-->
            <!--                                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Xanh blue</span></li>-->
            <!--                                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Cam</span></li>-->
            <!--                                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Vàng</span></li>-->
            <!--                                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Xám</span></li>-->
            <!--                                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Tím</span></li>-->
            <!--                                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Xanh green</span></li>-->
            <!--                                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Đỏ</span></li>-->
            <!--                            </ul>-->
            <!--                        </div>-->

          </div>


        </div>
        <!-- Main Content -->

        <div class="main_content">
          <!-- Products -->
          <div class="products_iso">
            <div class="row">
              <div class="col">
                <!-- Product Grid -->

                <div class="product-grid">

                  <!-- Product 1 -->
                  <div th:each="product : ${products}">
                    <div class="product-item ">
                      <div class="product discount product_filter">
                        <div class="product_image">
                          <img th:src="@{${product.image}}" alt="">
                        </div>
                        <div class="favorite favorite_right"></div>
                        <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center" th:if="${product.discount}>0" ><span th:text="-${product.discount}+'%'"></span></div>
                        <div class="product_info">
                          <h6 class="product_name"><a th:href="@{/shop/product/{id}(id=${product.getId()})}" th:text="${product.name}"></a></h6>
                          <div class="product_price" th:text="${#numbers.formatDecimal(product.price-(product.price*(product.discount)/100), 1, 'DEFAULT', 2, 'DEFAULT')+'đ'}" ></div>
                          <div class="product_price" th:if="${product.discount}>0"  > <span th:text="${#numbers.formatDecimal(product.price, 1, 'DEFAULT', 2, 'DEFAULT')+'đ'}"></span></div>
                        </div>
                      </div>
                      <!--<div class="red_button add_to_cart_button"><a href="/add-to-cart">thêm vào giỏ hàng</a></div>-->
                      <form th:action="@{/add-to-cart}" method="post">
                        <input type="hidden" name="id" th:value="${product.id}">
                        <input type="hidden" name="name" th:value="${product.name}">
                        <input type="hidden" name="image" th:value="${product.image}">
                        <input type="hidden" name="price" th:value="${product.price}">
                        <input class="red_button add_to_cart_button" style="border: none;color: #FFFFFF;text-transform: uppercase;font-size: 14px;font-weight: 500;text-align: center;line-height: 40px;" type="submit" value="thêm vào giỏ hàng">
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Benefit -->

  <div class="benefit">
    <div class="container">
      <div class="row benefit_row">
        <div class="col-lg-3 benefit_col">
          <div class="benefit_item d-flex flex-row align-items-center">
            <div class="benefit_icon"><i class="fa fa-truck" aria-hidden="true"></i></div>
            <div class="benefit_content">
              <h6>miễn phí vận chuyển</h6>
              <p>Freeship trên toàn quốc</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 benefit_col">
          <div class="benefit_item d-flex flex-row align-items-center">
            <div class="benefit_icon"><i class="fa fa-money" aria-hidden="true"></i></div>
            <div class="benefit_content">
              <h6>trả góp 0%</h6>
              <p>Nhanh chóng trong 15 phút chỉ cần CCCD, bằng lái xe</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 benefit_col">
          <div class="benefit_item d-flex flex-row align-items-center">
            <div class="benefit_icon"><i class="fa fa-undo" aria-hidden="true"></i></div>
            <div class="benefit_content">
              <h6>15 ngày đổi trả</h6>
              <p>Đổi ngay máy mới nếu lỗi từ nhà sản xuất</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 benefit_col">
          <div class="benefit_item d-flex flex-row align-items-center">
            <div class="benefit_icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
            <div class="benefit_content">
              <h6>mở cửa tất cả các ngày trong tuần</h6>
              <p>8AM - 9PM</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<th:block th:replace="layout :: footer"></th:block>
</body>
</html>
